*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:fctive{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
a{
    all: unset;
    cursor:pointer;
}
////////////////////////////////////////////////////////////////////////////////////
body {
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(#fcd27f, #f2725d);
    height: 100vh;
}

.sun {
    width: 160px;
    height: 160px;
    background: radial-gradient(circle, #ffe8a8, #ffcf53, #ffb23c);
    border-radius: 50%;
    position: absolute;
    bottom: 250px;
    left: 40px;
    box-shadow: 0 0 40px 20px #ffcd55;
}

.road {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    background: #2e2b33;
    border-top: 8px solid #ff6b6b;
}

.road::after {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 6px;
    background: repeating-linear-gradient(
        to right,
        white,
        white 50px,
        transparent 50px,
        transparent 100px
    );
}

.car {
    position: absolute;
    bottom: 45px;
    left: -300px; 
    width: 200px; 
    height: 100px;
    animation: drive 4s linear forwards;
}

.car-top {
    width: 110px;
    height: 45px;
    background: #d8444a;
    border-radius: 40px 40px 0 0;
    margin-left: 45px;
}

.car-body {
    width: 200px;
    height: 55px;
    background: #d8444a;
    border-radius: 15px;
    margin-top: -5px;
}

.wheel {
    width: 34px;
    height: 34px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
}

.wheel-left {
    left: 40px;
}

.wheel-right {
    right: 40px;
}

@keyframes drive {
    from {
        left: -300px;
    }
    to {
        left: calc(100% - 250px); 
    }
}











